<?xml version ="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	  autoReolad ="true"
	  internalLogLevel="Info"
	  internalLogFile="c:\temp\internal-nlog.txt">

<extensions>
		<add assembly="Nlog.Web.AspNetCore"/>
</extensions>

<targets>
	
		<target xsi:type="File" name="request-time" fileName="C:\Users\mateu\source\repos\RestaurantApi\Logs\request-time.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
	
		<target xsi:type="File" name="exceptions" fileName="C:\Users\mateu\source\repos\RestaurantApi\Logs\nlog-all-exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
		
		<target xsi:type="File" name="allfile" fileName="C:\Users\mateu\source\repos\RestaurantApi\Logs\nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
</targets>

<rules>
	<logger name="*" minlevel="Trace" writeTO="allfile"/>
	<logger name="*" minlevel="Error" writeTO="exceptions"/>
	<logger name="RestaurantApi.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTO="request-time"/>
	
</rules>

</nlog>